Options -Indexes
RewriteEngine On
RewriteBase /

# Redirigir /login a /app/views/login/auth_login.html
RewriteRule ^login/?$ app/views/login/auth_login.html [L]

# Redirigir /register a /app/views/register/auth_register.html
RewriteRule ^register/?$ app/views/register/auth_register.html [L]

# Otras reglas ajustadas
RewriteRule ^confirm-email/?$ app/views/login/confirm-email.html [L]
RewriteRule ^verify/?$ app/views/register/confirmation.html [L]
RewriteRule ^password-reset/?$ app/views/password-reset/auth_user_pass_reset.html [L]
RewriteRule ^restore-account/?$ app/views/password-reset/auth_user_pass.html [L]
RewriteRule ^account-lock/?$ app/views/lockscreen/auth_lockscreen.html [L]

# Panel
RewriteRule ^panel/?$ app/views/panel/index.html [L]
RewriteRule ^pots/?$ app/views/panel/pots.html [L]
RewriteRule ^pots-alert/?$ app/views/panel/pot-alerts.html [L]
RewriteRule ^profile/?$ app/views/panel/account-profile.html [L]
RewriteRule ^account-security/?$ app/views/panel/account-security.html [L]

# Error 404
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ app/views/error_404.html [L]

# Configurar páginas de error
ErrorDocument 403 /app/views/error_500.html
ErrorDocument 404 /app/views/error_404.html
